@import '/src/style/colors.css';

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.section-slide .slider .slides{
  background-color: transparent;
  margin: 0;
  height: 700px;
}
.section-slide .slider .slides li img{
  height: 100% !important;
  width: 100% !important;
  background-position: top;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
}


.indicator-item.active{
  background-color:var(--color-2)!important ;
}