
.dark-mode{
    background-color: var(--dark-mode);
}


.darkmode {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    z-index: 3000;
  }
  
  
  .darkmode + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  .darkmode-style + label {
    padding: 2px;
    width: 80px;
    height: 40px;
    background-color:var(--dark-input);
    border-radius: 60px;
  }
  
  .darkmode-style + label:before,
  .darkmode-style+ label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
  }
  .darkmode-style + label:before {
    right: 1px;
    background-color:var(--dar-bef);
    border-radius: 20px;
    transition: all 0.4s;
  }
  .darkmode-style + label:after {
    width: 40px;
    background-color:var(--dark-after);
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
  }
  
  .darkmode-style:checked + label:before {
    background-color: var(--dark-input-hover);
  }
  .darkmode-style:checked + label:after {
    transform: translateX(40px);
  }